<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="description"
        placeholder="Enter Description">
    </div>

    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="address"
        placeholder="Enter Address">
    </div>

    <label class="col-sm-2 col-form-label">Maximum consumption/hour</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="max_cons_per_hour"
        placeholder="Enter Max Cons">
    </div>

    <label class="col-sm-2 col-form-label">User Id</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="user"
        placeholder="Enter User ID">
    </div>
</div>

<button (click)="addDevice()" *ngIf="device.id==0" class="btm btn-primary">
    Add
</button>

<button (click)="updateDevice()" *ngIf="device.id!=0" class="btm btn-primary">
    Update
</button>