<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Device Component</h5>
                    <p class="card-text">Here you can manage Devices.</p>
                    <a class="btn btn-primary" routerLink="../device">Go to Device Component</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">Here you can manage Users.</p>
                    <a class="btn btn-primary" routerLink="../user">Go to User Component</a>
                </div>
            </div>
        </div>
    </div>
</div>