<!-- Button trigger modal -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Address</th>
            <th>Maximum consumption/hour</th>
            <th>User Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DeviceList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.description}}</td>
            <td>{{dataItem.address}}</td>
            <td>{{dataItem.max_cons_per_hour}}</td>
            <td>{{dataItem.user}}</td>
        </tr>
    </tbody>
</table>